*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/originals/47/c5/ad/47c5ad1cf237848af9fc1db8cf0772a1.gif);
    
}
.container{
    background-color: lightcoral;
    border: 3px dashed rgb(238, 19, 92) ;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
h3{
    font-size: 30px;
    color: purple
}
input{
    height:25px;
    font-size: 20px;
    color:purple;
    margin-top: 10px;
}
button{
    background-color: orangered;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
p{
    font-size: 16px;
    line-height: 2;
}
